doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    script(type="text/javascript", src="https://raw.github.com/Stuk/jszip/master/jszip.js")
    script(type="text/javascript", src="js/download.js")
    title #{name} 
    // Bootstrap Core CSS
    link(href='/stylesheets/website4/bootstrap.css', rel='stylesheet')
    // Custom CSS
    link(href='/stylesheets/website4/stylish-portfolio.css', rel='stylesheet')
    // Custom Fonts
    link(href='/stylesheets/website4/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic', rel='stylesheet', type='text/css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body
    // Header
    header#top.header
      .text-vertical-center
        h1 #{name}
        h3 #{slogan}
    // Services
    // The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/
    section#services.services.bg-primary
      .container
        .row.text-center
          .col-lg-10.col-lg-offset-1
            h2 Our Services
            hr.small
            .row
              .col-md-3.col-sm-6
                .service-item
                  span.fa-stack.fa-4x
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-cloud.fa-stack-1x.text-primary
                  h4
                    strong About Us
                  p #{about_us}
              .col-md-3.col-sm-6
                .service-item
                  span.fa-stack.fa-4x
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-compass.fa-stack-1x.text-primary
                  h4
                    strong What We Do
                  p #{what_we_do}
              .col-md-3.col-sm-6
                .service-item
                  span.fa-stack.fa-4x
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-flask.fa-stack-1x.text-primary
                  h4
                    strong Why Choose Us
                  p #{why_choose_us}
              .col-md-3.col-sm-6
                .service-item
                  span.fa-stack.fa-4x
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-shield.fa-stack-1x.text-primary
                  h4
                    strong Our History
                  p #{our_history}
            // /.row (nested)
          // /.col-lg-10
        // /.row
      // /.container
    // Callout
    aside.callout
      .text-vertical-center
        h1 Vertically Centered Text
    // Portfolio
    section#portfolio.portfolio
      .container
        .row
          .col-lg-10.col-lg-offset-1.text-center
            h2 Our Work
            hr.small
            .row
              .col-md-6
                .portfolio-item
                  a(href='#')
                    img.img-portfolio.img-responsive(src=images[0])
              .col-md-6
                .portfolio-item
                  a(href='#')
                    img.img-portfolio.img-responsive(src=images[1])
              .col-md-6
                .portfolio-item
                  a(href='#')
                    img.img-portfolio.img-responsive(src=images[2])
              .col-md-6
                .portfolio-item
                  a(href='#')
                    img.img-portfolio.img-responsive(src=images[3])
          // /.col-lg-10
        // /.row
      // /.container
    // Footer
    footer
      .container
        .row
          .col-lg-10.col-lg-offset-1.text-center
            h4
              strong #{name}
            hr.small
            p.text-muted Copyright #{name} 2015
    .button
      button#download(onclick='download("website4")') Download Website
    // jQuery
    script(src='/stylesheets/website4/js/jquery.js')
    // Bootstrap Core JavaScript
    script(src='/stylesheets/website4/js/bootstrap.min.js')
    // Custom Theme JavaScript
    script.
      // Closes the sidebar menu
      $("#menu-close").click(function(e) {
      e.preventDefault();
      $("#sidebar-wrapper").toggleClass("active");
      });
      // Opens the sidebar menu
      $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#sidebar-wrapper").toggleClass("active");
      });
      // Scrolls to the selected menu item on the page
      $(function() {
      $('a[href*=#]:not([href=#])').click(function() {
      if (location.pathname.replace(/^\\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      if (target.length) {
      $('html,body').animate({
      scrollTop: target.offset().top
      }, 1000);
      return false;
      }
      }
      });
      });
