doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title #{name} 
    link(rel='stylesheet', href='stylesheets/website1/style.css')
    script(type='text/javascript', src='stylesheets/website1/js/jquery-1.10.2.min.js')
    link(href='http://fonts.googleapis.com/css?family=Wellfleet', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Wellfleet', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Oswald', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Hind', rel='stylesheet', type='text/css')
    script.
      <!----- JQUERY FOR SLIDING NAVIGATION --->
      $(document).ready(function() {
      $('a[href*=#]').each(function() {
      if (location.pathname.replace(/^\\//,'') == this.pathname.replace(/^\//,'')
      && location.hostname == this.hostname
      && this.hash.replace(/#/,'') ) {
      var $targetId = $(this.hash), $targetAnchor = $('[name=' + this.hash.slice(1) +']');
      var $target = $targetId.length ? $targetId : $targetAnchor.length ? $targetAnchor : false;
      if ($target) {
      var targetOffset = $target.offset().top;
      <!----- JQUERY CLICK FUNCTION REMOVE AND ADD CLASS "ACTIVE" + SCROLL TO THE #DIV--->
      $(this).click(function() {
      $("#nav li a").removeClass("active");
      $(this).addClass('active');
      $('html, body').animate({scrollTop: targetOffset}, 1000);
      return false;
      });
      }
      }
      });
      });
  body
    header#header
      .content
        #logo
          a(href='')  Company Name 
        nav#nav
          ul
            li
              a.active(href='#slide1', title='Next Section') About Us
            li
              a(href='#slide2', title='Next Section') What We Do
            li
              a(href='#slide3', title='Next Section') Why Choose Us
            li
              a(href='#slide4', title='Next Section') Our History
            li
              a(href='#slide5', title='Next Section') Careers
    // --- HEADER END-
    // --- SLIDES START -
    #slide1
      img(src= "#{images}" + "/1.jpg")
      .content
        h1 About
        h1 Us
    #slide2
      .content
        img(src= "#{images}" + "/2.jpg")
        .quotes_container
          h3.quotes #{slogan}

    #slide3
      .content
        img(src= "#{images}" + "/3.jpg")
        .quotes_container
          h3.quotes #{industry} 
    #slide4
      .content
        img(src= "#{images}" + "/4.jpg")
        .quotes_container
          h3.quotes Our History
    #slide5
      .content
        img(src= "#{images}" + "/5.jpg")
        .quotes_container
          h3.quotes Careers
    // --- SLIDES END -

